{% extends 'home.html' %}

{% block options_purpose %}

<option>With Family/Friends</option>
<option>On a Date</option>
<option>A Professional Meetup</option>
<option>By Yourself</option>
<option>For Recreation</option>s

{% endblock %}

{% block options_activity %}

<option>No Preference</option>
<option>Amusement Parks</option>
<option>Aquariums</option>
<option>Bars</option>
<option>Beaches</option>
<option>Hiking</option>
<option>Escape Games</option>
<option>Fitness</option>
<option>Festivals</option>
<option>Cinema</option>
<option>Restaurants</option>

{% endblock %}

{% block options_budget %}

<option>$ (Inexpensive)</option>
<option>$$ (Moderate)</option>
<option>$$$ (Pricey)</option>
<option>$$$$ (Ultra High-End)</option>

{% endblock %}

{% block options_time %}

<option>1 to 2 hours</option>
<option>2 to 5 hours</option>
<option>5+ hours</option>

{% endblock %}

{% block options_distance %}

<option>Within 30 miles</option>
<option>Within 50 miles</option>
<option>Over 70 miles</option>

{% endblock %}