<!doctype html>
<html>
<head>
	<!--{% load static %}-->
	<title>TravelFlow</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type"image/ico" href="../static/assets/favicon.ico"> 
    <!--<link rel="icon" type"image/ico" href={% static "assets/favicon.ico"%}>-->

	<!-- LIBRARIES -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	<!-- STYLESHEETS -->
	<link href="../static/css/main.css" rel="stylesheet"> 
	<link href="../static/css/home.css" rel="stylesheet"> 
	<!--<link href={% static "css/main.css"%} rel="stylesheet">
	<link href={% static "css/home.css"%} rel="stylesheet">-->

	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
</head>
<body class="gradient-bg">
	<div class="container spacer"></div>
	<div class="container main-container">
		<div class="row header">
			<div class="col-sm-12 text-center">
				<img class="logo-img" src="../static/assets/logo.png">
				<h1>TravelFlow</h1>
			</div>
		</div>
		<div class="row spacer"></div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<h3>Need a <span style="color:red">plan</span> on where to go or want to show off your <span style="color:red">itinerary</span>? Look no <span style="color:red">further</span>!</h3>
			</div>
		</div>
		<div class="container spacer"></div>
		<div class="row">
			<div class="col-sm-6 text-center">
				<h5><b>Need an Itinerary?</b></h5>
				<p>Scroll down to create a Itinerary just for you! Select the options and our application will find the best plans that suit your needs!</p>
			</div>
			<div class="col-sm-6 text-center">
				<h5><b>Have an Itinerary?</b></h5>
				<a href="/submit" style="color: white;"><button type="button" class="btn btn-lg btn-primary btn-color btn-submit">Click Here to Share!</button></a>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-6 text-center">
				<div class="form-group">
					<label for="select_purpose">What's the Purpose?</label>
					<select class="form-control" id="purpose">
						{% block options_purpose %}
						{% endblock %}
					</select>
				</div>
				<div class="form-group">
					<label for="select_activity">What's the Preferred Activity?</label>
					<select class="form-control" id="activity">
						{% block options_activity %}
						{% endblock %}
					</select>
				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="form-group pad">
					<label for="select_budget">What's your Budget?</label>
					<select class="form-control" id="budget">
						{% block options_budget %}
						{% endblock %}
					</select>
				</div>
				<div class="form-group">
					<label for="select_time">How Much Time?</label>
					<select class="form-control" id="time">
						{% block options_time %}
						{% endblock %}
					</select>
				</div>
				<div class="form-group">
					<label for="select_distance">How Far?</label>
					<select class="form-control" id="distance">
						{% block options_distance %}
						{% endblock %}
					</select>
				</div>
			</div>
		</div>
		<div class="container spacer"></div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<a href="/results" style="color: white"><button type="button" class="btn btn-lg btn-primary btn-color btn-submit">Click Here for Search!</button></a>
			</div>
		</div>
		<div class="container spacer"></div>
		<div class="row footer">
			<div class="col-sm-8 text-left">
				<p>Made by: <i>Team rmDASHrf from UCSD</i></p>
			</div>
			<div class="col-sm-4 text-right">
				<p>&copy; 2017 KL, TT, JS, DL</p>
			</div>
		</div>
	</div>
	<div class="container spacer"></div>

    <!-- SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
