<!doctype html>
<html>
<head>
	<title>[INSERT NAME HERE]</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" type"image/ico" href="/assets/favicon.ico">-->

	<!-- LIBRARIES -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	<!-- STYLESHEETS -->
	<link href="../static/css/main.css" rel="stylesheet">
	<link href="../static/css/home.css" rel="stylesheet">

	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans" rel="stylesheet">
</head>
<body class="gradient-bg">
	<div class="container spacer"></div>
	<div class="container main-container">
		<div class="row header">
			<div class="col-sm-12 text-center">
				<h1>[INSERT NAME HERE]</h1>
			</div>
		</div>
		<div class="row spacer"></div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<h3>We plan shit for you to do when you bored, bruh</h3>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-6 text-center">
				<h5>Need a Itinerary?</h5>
				<p>Scroll down to create a Itinerary just for you!</p>
			</div>
			<div class="col-sm-6 text-center">
				<h5>Have a Itinerary?</h5>
				<button type="button" class="btn btn-lg btn-primary btn-color btn-submit">Click here to Submit!</button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-12 text-center">
				<p>OPTIONS</p>
				<p>OPTIONS</p>
				<p>OPTIONS</p>
				<p>OPTIONS</p>
				<p>OPTIONS</p>
				<p>OPTIONS</p>
			</div>
		</div>
	</div>

    <!-- SCRIPTS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>