<!doctype html>
<html>
<head>
	<title>TravelFlow: Itineraries</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type "image/ico" href="../static/assets/favicon.ico">

	<!-- LIBRARIES -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	<!-- STYLESHEETS -->
	<link href="../static/css/main.css" rel="stylesheet">
	<link href="../static/css/results.css" rel="stylesheet">

	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
</head>
<body class="gradient-bg">
    <body class="gradient-bg">
	<div class="container spacer"></div>
	<div class="container main-container">
		<div class="row header">
			<div class="col-sm-8">
				<h1>Itinerary: [INSERT NAME HERE]</h1>
			</div>
			<div class="col-sm-4">
				<a href="/"><button type="button" class="btn btn-block btn-secondary">Back to Home Page</button></a>
			</div>
		</div>
        <div class="container spacer"></div>
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-center">Activities</h2>
                {% block activities %}
                {% endblock %}
            </div>
            <div class="col-sm-6">
                <h2 class="text-center">View on Maps</h2>
                <!-- INSERT GOOGLE MAPS SHIT HERE -->
            </div>
        </div>
		<div class="container spacer"></div>
		<div class="row footer">
			<div class="col-sm-8 text-left">
				<p>Made by: <i>Team rmDASHrf from UCSD</i></p>
			</div>
			<div class="col-sm-4 text-right">
				<p>&copy; 2017 KL, TT, JS, DL</p>
			</div>
		</div>
	</div>
	<div class="container spacer"></div>

    <!-- SCRIPTS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>