{% extends 'submit.html' %}

{% block options_purpose %}

<option value="Friends">With Family/Friends</option>
<option value="Date">On a Date</option>
<option value="Professional">A Professional Meetup</option>
<option value="Alone">By Yourself</option>
<option value="Recreation">For Recreation</option>s

{% endblock %}

{% block options_time %}

<option value="1">1 to 2 hours</option>
<option value="2">2 to 5 hours</option>
<option value="3">5+ hours</option>

{% endblock %}

{% block options_activity %}

<option value="No Preference">No Preference</option>
<option value="Amusement Parks">Amusement Parks</option>
<option value="Aquariums">Aquariums</option>
<option value="Bars">Bars</option>
<option value="Beaches">Beaches</option>
<option value="Hiking">Hiking</option>
<option value="Escape Games">Escape Games</option>
<option value="Fitness">Fitness</option>
<option value="Festivals">Festivals</option>
<option value="Cinema">Cinema</option>
<option value="Restaurants">Restaurants</option>

{% endblock %}

{% block activities %}

<div class="card">
    <img class="card-img-top" src="[INSERT ACTIVITY PIC HERE]" alt="[INSERt ACTIVITY NAME HERE]">
    <div class="card-block">
        <h4 class="card-title">[INSERT ACTIVITY NAME HERE]</h4>
        <p class="card-text">[INSERT ACTIVITY DESCRIPTION HERE]</p>
        <a href="#" class="btn btn-danger btn-sm">Delete Activity</a>
    </div>
</div>

{% endblock %}