{% extends 'submit.html' %}

{% block options_purpose %}

<option>With Family/Friends</option>
<option>On a Date</option>
<option>A Professional Meetup</option>
<option>By Yourself</option>
<option>For Recreation</option>s

{% endblock %}

{% block options_time %}

<option>1 to 2 hours</option>
<option>2 to 5 hours</option>
<option>5+ hours</option>

{% endblock %}

{% block activities %}

<div class="card-columns">
    <div class="card">
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card">
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card">
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card">
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card">
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card">
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
</div>

{% endblock %}